* {margin:0; padding:0; outline:none}

.container-fluid {
    width: 85%;
    margin-bottom: 30px;
    background-color: #81D6E3;
    padding-bottom: 15px;
    border-bottom-right-radius: 25px ;
    border-bottom-left-radius: 25px;
    border-color: #17a2b8;
    border-style: solid;
    border-top-style: none;
  }

.textBar {
	color: #17a2b8;
}

.butbar {
	margin-left: 15px;
}



.table-striped .head h6 {background:url(images/sort.png) 2px center no-repeat; cursor:pointer; padding-left:25px}
.table-striped .desc h6 {background:url(images/desc.png) 2px center no-repeat; cursor:pointer; padding-left:25px}
.table-striped .asc h6 {background:url(images/asc.png) 2px  center no-repeat; cursor:pointer; padding-left:25px}
/*.table-striped .head:hover, .table-striped .desc:hover, .table-striped .asc:hover {color:#c6d5e1}*/

#controls {width:980px; margin:0 auto; height:20px}
#perpage {float:left; width:200px}
#perpage select {float:left; font-size:11px}
#perpage span {float:left; margin:2px 0 0 5px}
#navigation {float:left; width:580px; text-align:center}
#navigation img {cursor:pointer}
#text {float:left; width:200px; text-align:right; margin-top:2px}